.bg-image {
  background-image: url("../../../public/netflixbanner.jpg");
  height: 100vh;
  background-size: cover;
}
.bg-shade {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}
